https://bitbucket.org/kds_consulting_team/keboola-python-util-lib/get/0.4.4.zip#egg=kbc
requests>=2.31.0
mock
freezegun
boto3>=1.34.0
botocore>=1.34.0
snowflake-connector-python>=3.0.0,<4.0.0
snowflake-sqlalchemy>=1.4.0,<2.0.0
dateparser>=1.2.0
pytz>=2024.1
regex>=2024.0.0