https://bitbucket.org/kds_consulting_team/keboola-python-util-lib/get/0.4.4.zip#egg=kbc
requests===2.23.0
mock
freezegun
boto3===1.15.9
snowflake-connector-python
snowflake-sqlalchemy
dateparser==1.0.0
pytz==2022.6
regex==2022.3.2